@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px auto;
  overflow-x: hidden;
}
.body-container {
  margin: 0 auto;
}

/* Navbar Start*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 95px;
  background-color: white;
  width: 1100px;
  margin: 2px auto;
}

.nav-links {
  position: absolute;
  right: -85px;
  height: 92vh;
  top: 8vh;
  background-color: white;
  width: 1300px;
  display: none;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
.nav-active {
  display: flex;
  opacity: 100%;
  transition: transform 0.5s ease-in;
}

.nav-links li {
  color: #2e2e2e;
  text-decoration: none;
  font-size: 20px;
  list-style: none;
  margin-top: 100px;
}

.nav-links a {
  color: #2e2e2e;
  text-decoration: none;
}
.insta {
  max-width: 70%;
}

.brand {
  max-width: 70%;
}
.nav-menu {
  margin: 0;
}
.burger {
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #2e2e2e;
  margin: 5px;
  transition: all 0.3s ease;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Navbar End  */

/* Hero Start */
section.hero {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.hero-text {
  width: 40%;
  color: #2e2e2e;
  padding: 150px 0px 0px 100px;
}

h1.text-heading {
  font-size: 50px;
}
p.text-subheading {
  margin-top: 5px;
  font-size: 25px;
}

.carousel {
  margin: 20px;
}
.hero-btn {
  background-color: #a89c8b;
  padding: 8px 30px;
  border: none;
  border-radius: 100px;
  color: #2e2e2e;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
}

.hero-btn:focus {
  outline: none;
}
.hero-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.063),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 500ms all;
}

/* Hero Carousel Start  */

.carousel-item {
  overflow: hidden;
}

.carousel-indicators > li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  cursor: pointer;
}

/* Hero Carousel End  */

/* Hero End  */

/* Menu Start  */

.menu-heading {
  margin-top: 12px;
  margin-bottom: 20px;
  text-align: center;
}

section.menu {
  width: auto;
  display: flex;
  margin: 1rem auto;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  margin: 1rem 3rem;
}

.menu-txt {
  margin-top: 12px;
  text-align: center;
  font-size: 18px;
}

.menu img {
  width: 220px;
}
.menu-container {
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  margin: 20px;
  border-radius: 4px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.menu-container:hover {
  box-shadow: 12px 15px 20px 0px rgba(255, 157, 9, 0.15);
}
/* Menu End  */

/* Banner Start  */

section.banner {
  display: flex;
  width: 1100px;
  height: 290px;
  align-items: center;
  margin: 3rem auto;
  position: relative;
  background-image: url("https://i.postimg.cc/4NNBJpTh/banner-bg.png");
  background-position: center;
}

.banner-container {
  margin-left: 50px;
}

.banner-text {
  color: white;
}
.banner-text p {
  line-height: 0;
  font-size: 18px;
}
.banner-text h3 {
  line-height: 70%;
}

.banner-btn {
  background-color: #a89c8b;
  padding: 8px 30px;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.banner-btn:focus {
  outline: none;
}
.banner-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.063),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 500ms all;
}
/* Banner End  */

/* Fact Start  */
section.fact {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  max-width: 1100px;
}

.fact-heading {
  margin-bottom: 3rem;
  text-align: center;
}

.fact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Fact End  */

/* Footer Start  */
section.footer {
  width: 100%;
  display: flex;
  position: relative;
  background-color: #a89c8b;
  flex-direction: column;
  padding: 50px 0;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer-ill {
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}

.footer-ill img {
  width: 100px;
}
.footer-text-container {
  display: flex;
  margin: 1rem auto;
  color: white;
}
.footer-text-container h4 {
  font-size: 20px;
}
.footer-contacts {
  margin: 0 2rem;
}
.ig-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-line {
  align-items: center;
}
.footer-line div {
  width: 300px;
  height: 3px;
  background-color: white;
}

/* Footer End */

/* Responsive START */

@media (max-width: 1150px) {
  nav {
    width: 700px;
    margin: 2px auto;
  }
  .nav-links {
    position: absolute;
    right: -300px;
  }
  section.hero {
    flex-direction: column;
    margin: 20px auto;
    justify-content: space-around;
  }
  .carousel {
    width: 30%;
    margin: 50px auto;
  }
  .hero-text {
    display: flex;
    margin: 2px auto;
    padding: 0px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .hero-btn {
    margin: 0px auto;
    width: auto;
  }

  section.menu {
    width: 700px;
    margin: 80px auto;
  }
  section.banner {
    width: 700px;
    margin: 80px auto;
  }
  section.fact {
    max-width: 700px;
    margin: 1rem auto;
  }
  .menu-heading {
    text-align: center;
  }
  .fact-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-line div {
    width: 200px;
  }
}

@media (max-width: 750px) {
  nav {
    width: 400px;
  }
  .nav-links {
    right: -450px;
  }
  section.hero {
    flex-direction: column;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
  }
  .carousel {
    width: auto;
    margin: 50px auto;
  }

  .hero-btn {
    margin: 0px auto;
    width: auto;
  }

  .hero-text {
    width: 47%;
    padding: 0rem 2rem;
  }
  section.menu {
    width: 400px;
    margin: 2px auto;
  }
  section.banner {
    width: 400px;
    text-align: center;
  }
  section.fact {
    max-width: 400px;
  }
  .banner-text {
    text-align: center;
    margin: 0px auto;
  }
  .banner-container {
    margin-left: 10px auto;

    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .footer-line div {
    width: 120px;
  }
  .footer-contacs {
    margin: 0 1rem;
  }
}

@media (max-width: 575.98px) {
  .menu-main {
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .hero-text {
    width: 80%;
  }
  section.fact {
    margin: 3rem 2rem;
  }
  .footer-text-container {
    flex-direction: column;
    margin: 1rem 0 1rem 2rem;
    align-items: baseline;
  }
  .footer-contacts {
    margin: 2rem 0;
  }
  .footer-ill img {
    width: 50px;
  }

  .footer-line div {
    width: 100px;
    height: 3px;
    background-color: white;
  }
}

/* Responsive END */
